html {
	scroll-behavior: smooth !important;
}
/* Color del body de la pagina */
body{
    background-color: white;
}

/* Estructura para sections */
section{
  border-top: 5%;
}

/* Estructura del contenedor de la pagina */
#container{
  font-family: 'Bowlby One SC', cursive;
  position: relative;
  background-color: ##e0e0e0;
}

/* Definir color de las letras del menu */
#container .menu .links ul li a{
  color: #E2E2E2;
}

/* Estructura de la imagen del menu */
#container nav img{
  width:6%;
  margin-right: 2%;
	height: 3.5em;
}
.ancla{
  text-decoration: none;
  color:rgba(#141b41, 0);
	display: none;
}
/* Color del boton para mostrar y esconder menu */
#container nav .navbar-toggler{
  background-color: #fff;
}

li.active{
	background-color: black!important;
}
.carousel-game .active{
	background-color: black!important;
}

.page-container{
	padding: 0!important;
}

.background{
	justify-content: center;
  height: 100vh;
  background:   url('img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  margin-bottom: 5%;
}

/* imagen de la portada */
.background img{

	width: 20%;
	position:relative;
  padding-top: 14%;
}

.container-news{
  /*background: url('img/noticias2.jpg');*/
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  margin-bottom: 5%;

}
/* letra de la imagen principal*/
.letra-pie{
  color: white;
}

/* Color del menu */
.colour{
  background-color: rgba(0, 0, 0, 0.6);
}

/* Color del menu cuando hace animacion */
.top-nav-collapse{
  background: rgba(156, 156, 156, 0.8);
}

/* Estilo del hr que indica cambio de seccion */
hr {
  background-color:  black;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

/* Color encabezado noticias */
.section-news{
  color: black;
	margin-bottom: 4%;
	font-size: 2.5em;
}

/* Color de los cards de noticia */
.card{
  background-color: white !important;
  border-radius: 10px!important;
}

.card-img-top{
  width: 90%!important;
}

.card .card-body .card-text{
  color: black!important;
  padding-top: 1em;
	height: 11em;
}

.card:hover{
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2);
	z-index: 1;
}

.hidden-news{
  margin: 0;
  padding: 0!important;
  height: auto;
}
.btn{
  background-color: white!important;
	border-color: black !important;
	border: solid!important;
  color: black!important;
}
/*contenedor de 100vh*/
.container-100vh{
	text-align: center;
	height: 100vh;
}
/*Imagen juego */
.game{
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.65;
  }
	/*Texto de imagen*/
	.game-text{
	  color: #fff;
	  border-radius: 10px;
	  text-align: center;
		background: rgba(0, 0, 0, 0.85);
	}
	/*Menu Esports*/
	.nav-link{
		color: black;
	}
	.esports .nav .active{
		color: black!important;
		background-color: rgb(255, 255, 255)!important;
		border-color: black black white black!important;
	}
	#Tab-Esports{
		justify-content: center;
		border-bottom: 1px solid;
	}
	/*Secciones Esports*/
	.carousel-Noticias-esports{
		height: 13em!important;
	}
	.section-esports{
	  color: black;
		margin-bottom: 1.5%;
		font-size: 3em;
		padding-top: 2%;
	}
	.trailer{
		border: 5px black solid;
		padding: 1px!important;
		border-radius: 10px;
	}
	.img-esports{
		height: 29em;
		border: 4px black solid;
		padding: 0px!important;
		border-radius: 10px;
		opacity: 0.9;
	}
	.container-imgGame{
  position: relative;
  text-align: center;
  color: white;
	}
	.centered-text {
	color: white;
  position: absolute;
  top: 75%;
  left: 50%;
	width: 90%;
	background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
	}
	.carousel-esports .control{
		background-color: black;
		height: 20%;
		top: 25%;
		width: 5%;
	}
	.img-fluid{
		border-radius: 10px;
		border: solid;
	}
	.img-fluid:hover{
		opacity: 0.5;
	}
	.text-new-esports{
		font-size: 80%;
		padding-right: 2px;
	}
@media screen and (max-device-width: 980px)
 {
	.background img{
		width: 20%;
		position:relative;
	  padding-top: 30%;
	}
	.menu{
		height: 9em!important;
	}
  .card-text{
    font-size:  2.5em!important;
  }
	#container nav img{
	  width:9em;
		height: 8em;
	  margin-right: 2%;
	}
	.nav-item{
		font-size: 4em;
	}
	.navbar-toggler{
		width: 15%;
		height: 100%;
	}
	.section-news{
		font-size: 5em;
	}
	.btn{
		font-size: 3em!important;
		width: 40%;
	}
	.ver-mas{
		border: solid;
		width: 100%;
		font-size: 3em!important;
	}
}
