
html {
	scroll-behavior: smooth !important;
}
/* Color del body de la pagina */
body{
    background-color: white;
}

/* Estructura para sections */
section{
  border-top: 5%;
}

/* Estructura del contenedor de la pagina */
#container{
  font-family: 'Bowlby One SC', cursive;
  position: relative;
  background-color: ##e0e0e0;
}

/* Definir color de las letras del menu */
#container .menu .links ul li a{
  color: #E2E2E2;
}

/* Estructura de la imagen del menu */
#container nav img{
  width:6%;
  margin-right: 2%;
	height: 3.5em;
}

/* Color del boton para mostrar y esconder menu */
#container nav .navbar-toggler{
  background-color: #fff;
}

.active{
	background-color: black!important;
}

.page-container{
	padding: 0!important;
}

.background{
	justify-content: center;
  height: 100vh;
  background:   url('img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  margin-bottom: 5%;
}

/* imagen de la portada */
.background img{

	width: 20%;
	position:relative;
  padding-top: 14%;
}

.container-news{
  /*background: url('img/noticias2.jpg');*/
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Bowlby One SC', cursive;
  text-align: center;
  margin-bottom: 5%;

}
/* letra de la imagen principal*/
.letra-pie{
  color: white;
}

/* Color del menu */
.colour{
  background-color: rgba(0, 0, 0, 0.6);
}

/* Color del menu cuando hace animacion */
.top-nav-collapse{
  background: rgba(156, 156, 156, 0.8);
}

/* Estilo del hr que indica cambio de seccion */
hr {
  background-color:  black;
  width: 90%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

/* Color encabezado noticias */
.section-news{
  color: black;
	margin-bottom: 4%;
}

/* Color de los cards de noticia */
.card{
  background-color: white !important;
  border-radius: 10px!important;
}

.card-img-top{
  width: 90%!important;
}

.card .card-body .card-text{
  color: black!important;
  padding-top: 1em;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.hidden-news{
  margin: 0;
  padding: 0!important;
  height: auto;
}
.btn{
  background-color: white!important;
	border-color: black !important;
	border: solid!important;
  color: black!important;
}
/*carrusel*/
.container-miniGame{
	text-align: center;

}
@media screen and (max-device-width: 980px)
 {
	.background img{
		width: 20%;
		position:relative;
	  padding-top: 30%;
	}
	.menu{
		height: 9em!important;
	}
  .card-text{
    font-size:  2.5em!important;
  }
	#container nav img{
	  width:9em;
		height: 8em;
	  margin-right: 2%;
	}
	.nav-item{
		font-size: 4em;
	}
	.navbar-toggler{
		width: 15%;
		height: 100%;
	}
	.section-news{
		font-size: 5em;
	}
	.btn{
		font-size: 3em!important;
		width: 40%;
	}
	.ver-mas{
		border: solid;
		width: 100%;
		font-size: 3em!important;
	}
}
